/** footer.css */

/*
 * Set colors and size.
 */
 .footer {
    background: linear-gradient(to bottom, rgb(245, 240, 240), rgb(168, 162, 162));
    color: rgba(207, 177, 177, 0.88);
    padding: 0 1em;
}

.headline {
    text-decoration-line: underline;
    text-decoration-thickness: 4px;
}
/*
 * Style the links.
 */
.footer a {
    color: #FFF;
}

.footer a:hover {
    color: lime;
    text-decoration: none;
}

/*
 * Style the content.
 */
.box h4 {
    border-bottom: 2px solid #fff;
}

.final {
    text-align: center;
}

/*
 * Style the rows and columns.
 */
.footer .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
}

.footer .row > .col3 {
    width: calc(100% / 3);
}

.footer .row > .col1 {
    width: 100%;
}
